html {
  background-color: gray;
}

header {
  background-image: url(./img/Logo-1536x862.png);
  background-size: contain;
  background-position: center;
  background-color: #ffffff;
  height: 50vh;
  background-attachment: fixed;
}

.hero-text-box {
  color: rgb(153, 49, 153);
  text-align: center;
}

